div{
    border: 7px black solid;
    background-color: red;
    width:20%;  /*of the parent*/
    height: 100px;
    /* height: 50%; */
    /* display: inline; */ 
    display:inline-block;
    box-sizing: border-box; /* includes the border and padding in the size given*/
    /* box-sizing: content-box; */ /*only includes the data*/
    margin:20px;

}
.myclass{
    visibility: hidden; /*btseeb mkanha fady*/
}
.myclass2{
    display:none; /*no empty space*/
}
html{
    height: 100%; /*to fill the entire hieght of the page*/
}
body{
    height: 100%; 
    background-color: aqua;
}
