[att~="ccc"]{
    /* attribute key contains */
    color:red;
}
a[href*="w3schools"]{
    /* attribute value contains */
    color:red;
}
a[href^="https"]{
    /* Selects every <a> element whose href attribute value begins with "https" */
    color:green;
}
a[href$="https"]{
    /* Selects every <a> element whose href attribute value ends with "https" */
    color:green;
}
[att|="aaa"]{
    /* starts with */
    color:yellow;
}
p[att|="aaa"]{
    color:blue;
}
div [att|="aaa"]{
    color:green;
}

div::before{
    content:"inserted text ";
    color: magenta;
}
div [att|="aaa"]::after{
    content:"inserted text";
    color:magenta;
}
h2::first-letter{
    color:grey;
}
h2::first-line{
    color:blue;
}
h3::selection{
    color:red;
}
div:hover{
    color:lightblue;
}
